extends layout

block content
  header(id="list-header")
    h1= title
  if contact.length> 0
  #contact-wrapper 
    ul.contact-details 
      li= `First Name : ${contact.contactData.firstName}`
      li= `Last Name  :  ${contact.contactData.lastName}`
      li= `Email      : ${contact.contactData.email}`
      li= `Notes      :      ${contact.contactData.notes}`
      li= `Created On : ${contact.contactData.date}`
      if contact.contactData.images.length> 0
        .imagesContainer
          each val in contact.contactData.images
            embed(src= '/' +val alt='contact' style='width:100px; height:100px; padding: 1rem;')
        form(action=`/contacts/${contact.id}/download`, method='get')
          button(class="btn")
            | Download

          
  div.contact-form-btn-ctn
    div(class="ctn-1 ctn-ph-2 flexbox flex-center")
      div.col-1
        a(id = "contact-form-send" href=`/contacts`) View All Contacts
      div(class="col-1 contact-form-cta-social")
        a(id = "contact-form-send" href= `/contacts/${contact.id}/delete`) Delete Contact